body {
    background: #f5f5f5;
    font-family: Arial, sans-serif;
}

.container {
    width: 350px;
    margin: 80px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
}

.input-section {
    display: flex;
    gap: 10px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #aaa;
}

#addBtn {
    padding: 10px 15px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#taskList {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

li {
    background: #ececec;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}
